{% style %}
  .custom-announcement-bar {
    background: {{ section.settings.background_color }};
    text-align: {{ section.settings.text-align }};
  }

  .custom-announcement-bar > a {
    padding-top: {{ section.settings.padding-top }}px;
    padding-bottom: {{ section.settings.padding-bottom }}px;
    text-decoration: none;
  }

  .custom-announcement-bar > a > span {
    border-bottom: 1px solid {{ section.settings.font-color }};
    font-size: {{ section.settings.font-size }}px;
    color: {{ section.settings.font-color }};
    font-weight: 600;
  }
{% endstyle %}

{% if section.settings.bar_title != blank %}
  <div class="custom-announcement-bar">
    <a href="#">
      <span>{{ section.settings.bar_title }}</span>
    </a>
  </div>
{% endif %}

{% schema %}
{
  "name": "Custom Announce Bar",
  "settings": [
    {
      "type": "text",
      "id": "bar_title",
      "label": "Bar Title",
      "default": "Holiday Order Information"
    },
    {
      "type": "range",
      "id": "padding-top",
      "label": "Padding Top",
      "max": 50,
      "min": 0,
      "step": 1,
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-bottom",
      "label": "Padding Bottom",
      "max": 50,
      "min": 0,
      "step": 1,
      "default": 0
    },
    {
      "type": "select",
      "id": "text-align",
      "label": "Text Align",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "color",
      "id": "font-color",
      "label": "Color"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Background Color"
    },
    {
      "type": "range",
      "id": "font-size",
      "label": "Font Size",
      "max": 50,
      "min": 0,
      "step": 1,
      "default": 12
    }
  ],
  "presets": [
    {
      "name": "Custom Announce Bar"
    }
  ]
}
{% endschema %}
