{% if section.settings != blank %}
  <div class="custom_featured-product--wrapper custom-section-structure">
    <div class="custom_faq-container">
      <div class="custom_faq-media">
        <img src="{{section.settings.image |  image_url: width: 1000}}" width="" height="" alt="">
      </div>
      <div class="custom_faq-accordion">
        <h2 class="custom-section-title">{{ section.settings.section_title }}</h2>
        {% if section.blocks != blank %}
          <div class="custom_faq-content">
            {% for item in section.blocks %}
              <div class="custom_faq-part">
                <div class="custom_faq-header">
                  <h4>{{ item.settings.accordion_title }}</h4>
                  <span class="symbol-icon">+</span>
                </div>
                <div class="custom_faq-body">
                  <p>{{ item.settings.accordion_content }}</p>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
  <script src="{{'custom-accordion.js' |  asset_url}}" defer></script>
{% endif %}

{% schema %}
{
  "name": "Custom FAQ",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section title",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "faq_block",
      "name": "FAQ Block",
      "settings": [
        {
          "type": "text",
          "id": "accordion_title",
          "label": "FAQ title",
          "default": "FAQ Question"
        },
        {
          "type": "richtext",
          "id": "accordion_content",
          "label": "FAQ content",
          "default": "<p>FAQ answer goes here.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom FAQ",
      "category": "Custom"
    }
  ]
}
{% endschema %}
