{% if section.settings != blank %}
  <div class="custom_featured-product--wrapper custom-section-structure">
    <h2 class="custom-section-title">{{ section.settings.section_title }}</h2>
    <div class="product_dif-container">
      <div class="product_dif-list product_dif-menu">
        <div class="product_dif-list-header"><span>Menu</span></div>
        <div>Trial</div>
        <div class="product_dif-heavy">Varranty</div>
        <div>Hybrid</div>
        <div class="product_dif-heavy">Made in the USA</div>
        <div>Made to Order</div>
        <div class="product_dif-heavy">Advanced Cooling Technology</div>
        <div>Price (Queen)</div>
        <div class="product_dif-list-footer">Menu</div>
      </div>
      <div class="product_dif-list product_dif-special">
        <div class="product_dif-list-header"><img src="{{'glacier.png' |  asset_url }}" width="" height="" alt=""></div>
        <div>365</div>
        <div class="product_dif-heavy">Lifetime</div>
        <div><img src="{{'check.png' |  asset_url }}" width="" height="" alt=""></div>
        <div class="product_dif-heavy"><img src="{{'check.png' |  asset_url}}" width="" height="" alt=""></div>
        <div><img src="{{'check.png' |  asset_url}}" width="" height="" alt=""></div>
        <div class="product_dif-heavy"><img src="{{'check.png' |  asset_url}}" width="" height="" alt=""></div>
        <div>$799</div>
        <div class="product_dif-list-footer">
          <div class="product_dif-list-review">
            <div class="product_dif-list-review-stars">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
            </div>
            <span>530 Reviews</span>
          </div>
          <button>Show Now</button>
        </div>
      </div>
      <div class="product_dif-list">
        <div class="product_dif-list-header"><span>Nectar Classic Memory Foam</span></div>
        <div>365</div>
        <div class="product_dif-heavy">Forever</div>
        <div><img src="{{'close.png' |  asset_url }}" width="" height="" alt=""></div>
        <div class="product_dif-heavy"><img src="{{'close.png' |  asset_url}}" width="" height="" alt=""></div>
        <div><img src="{{'close.png' |  asset_url}}" width="" height="" alt=""></div>
        <div class="product_dif-heavy"><img src="{{'close.png' |  asset_url}}" width="" height="" alt=""></div>
        <div>$649</div>
        <div class="product_dif-list-footer">
          <div class="product_dif-list-review">
            <div class="product_dif-list-review-stars">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
            </div>
            <span>530 Reviews</span>
          </div>
          <button>Show Now</button>
        </div>
      </div>
      <div class="product_dif-list">
        <div class="product_dif-list-header"><span>DreamCloud Hybrid</span></div>
        <div>365</div>
        <div class="product_dif-heavy">Varranty</div>
        <div><img src="{{'check.png' |  asset_url }}" width="" height="" alt=""></div>
        <div class="product_dif-heavy"><img src="{{'close.png' |  asset_url}}" width="" height="" alt=""></div>
        <div><img src="{{'close.png' |  asset_url}}" width="" height="" alt=""></div>
        <div class="product_dif-heavy"><img src="{{'close.png' |  asset_url}}" width="" height="" alt=""></div>
        <div>$665</div>
        <div class="product_dif-list-footer">
          <div class="product_dif-list-review">
            <div class="product_dif-list-review-stars">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
            </div>
            <span>530 Reviews</span>
          </div>
          <button>Show Now</button>
        </div>
      </div>
      <div class="product_dif-list">
        <div class="product_dif-list-header"><span>Menu</span></div>
        <div>Trial</div>
        <div class="product_dif-heavy">Varranty</div>
        <div><img src="{{'check.png' |  asset_url }}" width="" height="" alt=""></div>
        <div class="product_dif-heavy"><img src="{{'check.png' |  asset_url}}" width="" height="" alt=""></div>
        <div><img src="{{'check.png' |  asset_url}}" width="" height="" alt=""></div>
        <div class="product_dif-heavy"><img src="{{'close.png' |  asset_url}}" width="" height="" alt=""></div>
        <div>$1,332</div>
        <div class="product_dif-list-footer">
          <div class="product_dif-list-review">
            <div class="product_dif-list-review-stars">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
              <img src="{{'star.png' |  asset_url}}" width="" height="" alt="">
            </div>
            <span>530 Reviews</span>
          </div>
          <button>Show Now</button>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% schema %}
{
  "name": "Product Difference",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    }
  ],
  "presets": [
    {
      "name": "Product Difference"
    }
  ]
}
{% endschema %}
