{% if section.settings != blank %}
  <div class="custom_featured-product--wrapper custom-section-structure">
    {% if section.settings.section_title %}
      <div class="reviewed_product-title">
        <h2 class="custom-section-title">{{ section.settings.section_title }}</h2>
        <button>{{ section.settings.title_btn }}</button>
      </div>
    {% endif %}
    {% if section.blocks != blank %}
      <div class="trusted-review-card-container">
        {% for item in section.blocks %}
          <div class="trusted-review-card">
            <div class="trusted-review-card-info">
              <img src="{{item.settings.review_star |  image_url: width: 1000}}" width="" height="" alt="">
              <p class="trusted-review-text">"{{ item.settings.review_text }}"</p>
              <span>
                {{- item.settings.reviewer }}
                <img src="{{  'Vector.png' |  asset_url }}" width="" height="" alt=""
              ></span>
            </div>
            <div class="trusted-review-card-media">
              <img src="{{item.settings.reviewed_media |  image_url: width: 1000}}" width="" height="" alt="">
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}

{% schema %}
{
  "name": "Custom Reviewed Product",
  "settings": [
    {
      "type": "text",
      "id": "section_title",
      "label": "Section Title"
    },
    {
      "type": "text",
      "id": "title_btn",
      "label": "Title Button Content"
    },
    {
      "type": "checkbox",
      "id": "show_num",
      "label": "Show Number",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "Card",
      "name": "card",
      "limit": 3,
      "settings": [
        {
          "type": "image_picker",
          "id": "review_star",
          "label": "Star media"
        },
        {
          "type": "text",
          "id": "review_text",
          "label": "Review Text"
        },
        {
          "type": "text",
          "id": "reviewer",
          "label": "reviewer name"
        },
        {
          "type": "image_picker",
          "id": "reviewed_media",
          "label": "Reviewed Product media"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom Reviewed Product"
    }
  ]
}
{% endschema %}
